<!DOCTYPE html>

<html>
<head>
  <title>Our App</title>
</head>

<style>
  table, td {
    border: 1px solid black;
    text-align: center;
    width: 70%;
  }

  .boxed {
    border: 1px solid green;
    display: inline-block;
    width: auto;
  }
</style>

<body>

  <div class="container" align="center">
    <div class="header">
      <h1>BEST MATCH!!</h1>
      <table style="width:70%">
        <tr>
          <td>Class</td>
          <td>Attributes</td>
          <td><p>Professor: Heyy</p>
            <br><p>Semester: Heyyyy</p></td>
        </tr>
      </table>
    </div>

    <div class="otherClasses">
      <h1>Other Classes...</h1>
      <table>
        <tr>
          <td>Clasasodfhalsdfaldjfh;adjshfs</td>
          <td>
            <div class="boxed">Heyy</div>
          </td>
          <td><p>Professor: Heyy</p>
            <br><p>Semester: Heyyyy</p></td>
        </tr>
        <tr>
          <td>Class</td>
          <td>Attributes</td>
          <td><p>Professor: Heyy</p>
            <br><p>Semester: Heyyyy</p></td>
        </tr>
        <tr>
          <td>Class</td>
          <td>Attributes</td>
          <td><p>Professor: Heyy</p>
            <br><p>Semester: Heyyyy</p></td>
        </tr>
      </table>
    </div>

  </div>
</body>

</html>
