<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS316 App</title>
 
    
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/index.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>search or rate a course</h1>
        <a href="{{ url_for('search') }}" id="btnSearch" class="btn btn-lg btn-primary btn-block">search</a>
        <a href="{{ url_for('rate') }}" id="btnRate" class="btn btn-lg btn-primary btn-block">rate</a>
      </div>

 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>