<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
  	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../templatewire/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="../templatewire/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../templatewire/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../templatewire/img/apple-touch-icon-114x114.png">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="../templatewire/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../templatewire/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
    ================================================== -->
	<link rel="stylesheet" type="text/css"  href="../static/rate-class.css">
	<link rel="stylesheet" type="text/css" href="../static/prettyPhoto.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
	
	<!-- Scripts
	================================================== -->
	<script type="text/javascript" src="../templatewire/js/modernizr.custom.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>    
 	
 	<script>
		var i;
		tags = document.getElementsByName('tag');
		function myFunction()  {
		  for (i=0; i<tags.length; i++) {
		    if (tags[i].checked)
		      return true;
		    else
		      alert("Please apply at least one tag");
		      return false;
		  }
		}
	</script>
    
    <script>
	  var max = new Date().getFullYear();
	  min = max - 10,
	  select = document.getElementById('year');
	
	  for (var i = max; i>=min; i--){
	    var opt = document.createElement('option');
	    opt.value = i;
	    opt.innerHTML = i;
	    select.appendChild(opt);
      }
	</script>
	
	<script>
  	jQuery(function ($) {
	    var checkList = $('.dropdown-check-list');
	    checkList.on('click', 'span.anchor', function(event){
	      var element = $(this).parent();
	
	      if ( element.hasClass('visible') )
	      {
	        element.removeClass('visible');
	      }
	      else
	      {
	        element.addClass('visible');
	      }
	    });
	  });
  </script>
    
  </head>
 
  <body>

  	<div id="contact-section">
      <div class="container box">
        <div class="section-title center">
          <h2>{{course[3]}}</h2>
          <hr>
          <form method="post" action="{{ url_for('submit_rating', course = 393) }}" onsubmit="return myFunction()" class="form-coursesearch">
	          <div class="table">
				<div class="table-row">
			        <div class="table-header"><i> Tags </i></div>
			        <div class="table-header"><i> Sem/Year</i></div>
			        <div class="table-header"><i> Professor </i></div>
				</div>
	    		<div class="table-row">
	                {% for id, name, category in tags %}
	                	<div class="table-cell" value = "{{id}}"><p class="myButton">{{name}}<br></p></div>
	                {% endfor %}
			  		<div class="table-cell">
	                    <p class="myButton" type="radio" name="semester" value = "Fall" required>Fall</p>
	                    <p class="myButton" type="radio" name="semester" value = "Spring">Spring</p>
	                    <p class="myButton" type="radio" name="semester" value = "Summer">Summer</p>
	                    <li> <select name="year" id="year" required></select></li>
	                </div>
	                <div class="table-cell">
	                	<li> <select name="prof" required>
							{% for id, name in profs %}
								<option value ="{{id}}">{{name}}</option>
							{% endfor %}
						</select></li>
	                </div>
				</div>
	          </div>

			  <input type="submit">
          </form>
  		</div>
      </div>
  	</div>
  
  	<h6></h6>

  </body>
</html>