<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../templatewire/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="../templatewire/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../templatewire/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../templatewire/img/apple-touch-icon-114x114.png">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="../templatewire/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../templatewire/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
    ================================================== -->
	<link rel="stylesheet" type="text/css"  href="../static/rate.css">
	<link rel="stylesheet" type="text/css" href="../static/prettyPhoto.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
	
	<!-- Scripts
	================================================== -->
	<script type="text/javascript" src="../templatewire/js/modernizr.custom.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>    
    
    <script>
		function myFunction() {
		    // Declare variables
		    var input, filter, ul, li, a, i;
		    input = document.getElementById('inputClass');
		    filter = input.value.toUpperCase();
		    ul = document.getElementById("myUL");
		    li = ul.getElementsByTagName('li');
		    // Loop through all list items, and hide those who don't match the search query
		    for (i = 0; i < li.length; i++) {
		        a = li[i].getElementsByTagName("a")[0];
		        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
		            console.log(a.innerHTML);
		            li[i].style.display = "";
		        } else {
		            li[i].style.display = "none";
		        }
		    }
		}
	</script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>rate a course</h1>
        <form method="post" class="form-coursesearch">
	        <label for="inputClass" class="sr-only">Class</label>
	        <input type="text" name="inputClass" id="inputClass" class="form-control" onkeyup="myFunction()" placeholder="Class" required autofocus>
	        <input type="hidden" name="hiddenInputClass" id="hiddenInputClass" value="">
	        <div id="listContainer">
	        <ul id="myUL">
	  			{% for dept, id, num, description in courses %}
	  				<li><a href="{{ url_for('search_course', myClass = id) }}">{{description}} ({{dept}}{{num}})</a></li>
	  			{% endfor %}
		
			</ul>
			</div>

        </form>
    </div>

  </body>
</html>